<h3>Reporing an issue</h3>
If you encounter a problem with the plugin, you can open an issue in the [issue tracker](https://gitlab.com/Flamedek/RPGme/issues).
This is much better to organize problems then by just posting them on SpigotMC, for example. Where they might just get lost in the crowd.
Even though the name, the issue-tracker can be used for more than just issues. For example it can also be used for questions or discussion.

**To report an issue**
- Make sure you have a [GitLab account](https://gitlab.com/users/sign_up)
- Open a new issue in the [issue tracker](https://gitlab.com/Flamedek/RPGme/issues)
    - Clearly describe the issue including steps to reproduce when it is a bug.
    - Use the correct label(s) to mark your message. Such as `bug` or `feature proposal`.
---
<h3>Contributing code</h3>
If you are a developer and you think that the plugin can be fixed or enhanced, you can contribute code to the repository by creating a Merge Request (MR).
But make sure check if your idea is not more suitable to be an `add-on`.

**Getting Started**
- Make sure you have a [GitLab account](https://gitlab.com/users/sign_up)
- Submit a ticket for your issue, assuming one does not already exist.
- Fork the repository on GitLab

**Making Changes**
- Create a branch from where you want to base your work.
    - This is usually the master branch.
    - To quickly create a topic branch based on master; git checkout -b fix/master/my_contribution master. Please avoid working directly on the master branch.
- Make commits to the new branch

**Submitting Changes**
- Push your changes to a topic branch in your fork of the repository.
- Submit a merge request to the repository.
- Update your issue to mark that you have submitted code.
- After revision it can be added to the repository.

<h3>Creating an add-on</h3>
Using the plugin's own api you can create an add-on plugin to work along side this one.
These add-ons can inject modules (such as skills) into the framework.
Additionally they can remove a default module, and replace it with their own extension, making it possible to replace pretty much all the default plugin behaviours.

This add-on system can be used to:
- add (unique) skills, abilities and other features to the plugin.
- remove or replace an existing module, to apply a fix or customize the behavior.

See the guide for [Creating an add-on](/guide/addon).

If you have an improvement that everybody can enjoy, consider making a merge request instead.
